.section-six{
  background: url("/img/six.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow:inset 15rem 15rem 20rem rgba(11,11,11,1);;
  height: auto;
  color:white;
  padding: $main-padding;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  &-header{
    font-size: 350%;
    font-weight: 100;
    color:rgba(255,255,255,.7);
  }
  &-content{
    font-size: 280%;
    font-weight: 100;
  }
  .btn-header{
    max-width: 250px;
  }
}
