// silver change color body items/elements //
.silver .btn-header{
          border-color: silver;
          color:#fff;
      }
.silver .btn-header:hover{background: grey;}
      .silver .icon-crimson{
        color:dimgrey!important;
      }
.silver {
  .bigbtn{
    &:hover{
        background: grey!important;
      }
  }
  #toggle {
    span{
      background: grey!important;
    }
  }
  .right-icon{
    background: grey;
  }

.circle{
    box-shadow: inset 0 0 0 15px grey, 0 0 15px grey;
    }
.testimonial{
  background: grey;
}
.person{
  border-color: grey;
}
.section-seven-left{
      background: linear-gradient(rgba(22, 20, 60, 0.55),
       rgba(22, 20, 60, 0.55)),
        url(/img/workplace.jpg);
        background-size: cover;
        background-position: center;
}
.section-eight{
  background: grey;
}
.btn-articles{
  &:hover{
    background: grey;
    border-color:white;
  }
}
  }
// silver change color body items/elements //
// EnD //
.royal-blue .btn-header{
          border-color: royalblue;
          color:#fff;
      }
.royal-blue .btn-header:hover{background: royalblue;}
      .royal-blue .icon-crimson{
        color:royalblue!important;
      }
.royal-blue {
  .bigbtn{
    &:hover{
        background: royalblue!important;
      }
  }
  #toggle {
    span{
      background: royalblue!important;
    }
  }
  .btn-articles{
    &:hover{
      background: royalblue;
      border-color:white;
    }
  }
  .right-icon{
    background: royalblue;
  }

.circle{
    box-shadow: inset 0 0 0 15px royalblue, 0 0 15px royalblue;
    }
.testimonial{
  background: royalblue;
}
.person{
  border-color: royalblue;
}
.section-seven-left{
      background: linear-gradient(rgba(22, 20, 220, 0.55),
       rgba(22, 20, 220, 0.55)),
        url(/img/workplace.jpg);
        background-size: cover;
        background-position: center;
}
.section-eight{
  background: royalblue;
}
  }

// Royal blue color-royalblue
// EnD //

// Gold Color >>
.gold .btn-header{
          border-color: darkorange;
          color:#fff;
      }
.gold .btn-header:hover{background: darkorange;}
      .gold .icon-crimson{
        color:darkorange!important;
      }
.gold {
  .bigbtn{
    &:hover{
        background: darkorange!important;
      }
  }
  #toggle {
    span{
      background: darkorange!important;
    }
  }
  .btn-articles{
    &:hover{
      background:darkorange;
      border-color:white;
    }
  }
  .right-icon{
    background: darkorange;
  }

.circle{
    box-shadow: inset 0 0 0 15px gold, 0 0 15px gold;
    }
.testimonial{
  background: darkorange;
}
.person{
  border-color: darkorange;
}
.section-seven-left{
      background: linear-gradient(rgba(238,232,170, 0.55),
       rgba(238,232,170, 0.55)),
        url(/img/workplace.jpg);
        background-size: cover;
        background-position: center;
}
.section-eight{
  background: darkorange;
}
  }
// Grey Slate grey Color



// Gold Color >>
.dark-slate-grey .btn-header{
          border-color: DarkSlateGrey ;
          color:#fff;
      }
.dark-slate-grey .btn-header:hover{background: DarkSlateGrey ;}
      .dark-slate-grey .icon-crimson{
        color:DarkSlateGrey !important;
      }
.dark-slate-grey {
  .btn-articles{
    &:hover{
      background:DarkSlateGrey ;
      border-color:white;
    }
  }
  .right-icon{
    background: DarkSlateGrey ;
  }

.circle{
    box-shadow: inset 0 0 0 15px DarkSlateGrey , 0 0 15px DarkSlateGrey ;
    }
.testimonial{
  background:DarkSlateGrey ;
}
.person{
  border-color:DarkSlateGrey ;
}
.section-seven-left{
      background: linear-gradient(rgba(49,79,79, 0.55),
       rgba(47,79,79, 0.55)),
        url(/img/workplace.jpg);
        background-size: cover;
        background-position: center;
}
.section-eight{
  background: DarkSlateGrey ;
}
.bigbtn{
  &:hover{
      background: DarkSlateGrey!important;
    }
}
#toggle {
  span{
    background: DarkSlateGrey!important;
  }
}
  }
