
.hide-toggle-btn{

}
.arrow{
  transition: .4s;
}
.arrow span {
  background: white!important;
}
.arrow span:last-child{
  transform: translateY(10px)!important;
}
.arrow span:first-child{
  transform: translateY(-10px)!important;
}
